@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgba(153, 106, 43, 0.218);
}

html {
    scroll-behavior: smooth;
}

.row {
    display: flex;
    justify-content: center;
    padding: 0 90px;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

/*

NAV

*/

#nav {
    background-image: url('Assets/nav__background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
}



/* MOVIE SEARCH ENGINE  */

.movie__search--container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.movie__search--label {
  color: rgb(219, 35, 35);
  text-align: right;
  font-weight: 900;
}

.movie-input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
}

.search_btn {
  width: 100%;
  max-width: 100px;
  margin-top: 10px;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  background-color: rgb(198, 47, 47);
  color: white;
}

.movie__search--form-row {
  display: flex;
  gap: 20px; 
  align-items: center;
  margin: 0 auto;
}

#movie__result--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px; 
  padding: 40px;
  max-width: 1280px;
  margin: 0 auto;
}

.movie__result {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.movie__img {
  margin-bottom: 16px;
  width: 100%;
  max-width: 150px; 
  height: auto;
}

.movie__title {
  color: red;
  margin-bottom: 8px;
}

.learn-more_btn {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  background-color: rgb(198, 47, 47);
  color: white;
  margin-top: 12px;
}










